<!DOCTYPE html>
<html>
    <head>
        <title>K-popify</title>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/styles.css">

    </head>

    <body>
        <h1 class="text-center">Success!</h1>
        <h2 class="text-center">Check out your new playlist in Spotify!</h2>
        <br>
        <br>
        <a href="/login" id="another" class="btn btn-primary">Make another playlist</a>

    </body>

</html>
